<div class="media-content">
  <div class="content">
    <p>
      {{article-info '' article.title article.authors article.journal.title article.volume article.pages article.year }}
    </p>
  </div>
</div>
<div class="media-right has-text-centered">
  <span class="icon is-medium"><i class="fa fa-file-pdf-o"></i></span>
  <nav class="level">
    <a class="level-item has-text-centered">
      <span class="icon"><i class="fa fa-comment"></i></span>
    </a>
    {{#link-to 'articles.edit' article class="level-item has-text-centered" activeClass="" }}
      <span class="icon"><i class="fa fa-pencil"></i></span>
    {{/link-to}}
  </nav>
</div>
